main#bible {
    max-width: 840px;
    text-align: center;
    margin: 0 auto;
    //padding: 3em;
    border-top: dotted 1px $grey;
    margin-top: 76px;

    h2 {
        font-size: 54px;
        font-weight: normal;
        width: 100%;
        letter-spacing: 2px;
        margin: 1em 0 .1em;

    }

    h3 {
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $grey;
        margin: 0 auto 5em;
        padding-bottom: 2em;
        border-bottom: dotted 1px $grey;
    }

    p {
        text-align: left;

        span.v { 
            color: $black;
            font-size: 18px;
            font-weight: bold;
            font-family: $font-head;
            display: inline;
            vertical-align: text-top;
            padding: 0 7px;
            //white-space: pre-line;
        }
        span.v:before { 
            content: ''; 
            //white-space:pre-line;
        }

        span.flag {
            background-color: rgba(255, 236, 148, .5)
            //text-decoration: underline;
            //font-weight: bold;
        }
    }
}

main#nav-menu {
    border: solid 1px white;
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    padding: 3em;
    h2 {
        max-width: 300px;
        margin: 0 auto;
        text-decoration: underline;
    }
    ul#nav-links {
        padding: 0;
        max-width: 300px;
        margin: 0 auto;
        li {
            list-style-type: none;
            a {
                display: block; 
                font-size: 14pt;
                color: $white;
                text-decoration: none;
            }
        }
    }

}