// Theme      
 
 body {
    background: $primary;
    color: $white;
    text-align: center;
    font-size: 10pt;
    font-family: $font-main;
}

main {
    width: 100%;

    h1 {
        font-family: $font-head;
        font-size: 3em;
        margin-top: 5em;
    }

    #search-input {
        display: block;
        background-color: transparent;
        border: solid 2px $grey;
        border-radius: 1em;
        color: $white;
        height: 2em;
        width: 400px;
        margin: 1em auto;
    }

    #search-results {
        //border: solid 2px blue;
        width: 600px;
        margin: 1em auto;

        #search-results-list {
            //border: solid 1px green;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                //border: solid 1px orange;
                display: block;
                //height: 1.2em;
                text-align: left;
                margin-bottom: .5em;
                //white-space: nowrap;
                //overflow: hidden;
                //text-overflow: ellipsis; 
                
                div {
                    display: inline;
                    padding: 2px;
                    line-height: 1.2em;
                    
                    &.book, &.ref {
                        color: $grey;
                        border-bottom: solid 1px $grey;
                        padding-bottom: 0;
                    }

                    &.ref { margin-right: .5em;}

                    .searchTerm {
                        color: $gold;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

