// Variables

 // Colors
 $primary:  #333;
 $secondary:#FFAB00;
 $content:  #e8e8e8;

 // Breakpoints
$xl:    1200px;
$lg:    992px;
$md:    768px;
$sm:    576px;

// Typeface
$font-main: 'Courier New', Courier, monospace;
$font-head: Verdana, Geneva, Tahoma, sans-serif;
