// Variables

 // Colorscheme -- https://coolors.co/333333-990100-b90504-f6f6f6-cccccc-ffab00
 $primary:  #333333;
 $gold:     #FFAB00;
 $white:    #F6F6F6;
 $grey:     #CCCCCC;
 $red:      #B90504;
 $darkred:  #990100;

 // Breakpoints
$xl:    1200px;
$lg:    992px;
$md:    768px;
$sm:    576px;

// Typeface
$font-main: 'Courier New', Courier, monospace;
$font-head: Verdana, Geneva, Tahoma, sans-serif;
