/**
 *      Title:      KJV Search Style
 *      Author:     Joe Cohen
 *      Contact:    <deskofjoe@gmail.com>
 *      GitHub:     https://github.com/cojohen
 *      
 */
body {
  background: #fff;
  color: #000D14;
  font-size: 24px;
  line-height: 32px;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  font-family: serif, "Times New Roman", Times;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body main {
  width: 100%;
}
body main h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
  margin: 4em auto 0;
}
body main h1 .KJV {
  color: #b38b3c;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
body main h1:hover .KJV {
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.2);
}
body main #search-input {
  display: block;
  background-color: transparent;
  border: solid 2px #000D14;
  border-radius: 1em;
  color: #fff;
  height: 2em;
  width: 400px;
  margin: 1em auto;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
  transition: all 0.1s ease-in-out;
}
body main #search-input:hover {
  box-shadow: 0px 0px 7px rgba(252, 191, 73, 0.9);
}
body main #search-results {
  width: 600px;
  margin: 2em auto;
}
body main #search-results #search-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body main #search-results #search-results-list li {
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
}
body main #search-results #search-results-list li div {
  display: inline-block;
  padding: 2px;
  line-height: 1.2em;
}
body main #search-results #search-results-list li div.book, body main #search-results #search-results-list li div.ref {
  color: #b38b3c;
  padding-bottom: 0;
}
body main #search-results #search-results-list li div.ref {
  margin-right: 0.5em;
}
body main #search-results #search-results-list li div .searchTerm {
  font-weight: normal;
  text-decoration: underline;
}

r {
  color: #D62828;
}

main#bible {
  max-width: 840px;
  text-align: center;
  margin: 0 auto;
  border-top: dotted 1px #636060;
  margin-top: 76px;
}
main#bible h2 {
  font-size: 54px;
  font-weight: normal;
  width: 100%;
  letter-spacing: 2px;
  margin: 1em 0 0.1em;
}
main#bible h3 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #636060;
  margin: 0 auto 5em;
  padding-bottom: 2em;
  border-bottom: dotted 1px #636060;
}
main#bible p {
  text-align: left;
}
main#bible p span.v {
  color: #000D14;
  font-size: 18px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline;
  vertical-align: text-top;
  padding: 0 7px;
}
main#bible p span.v:before {
  content: "";
}
main#bible p span.flag {
  background-color: rgba(255, 236, 148, 0.5);
}

main#nav-menu {
  border: solid 1px white;
  max-width: 800px;
  text-align: left;
  margin: 0 auto;
  padding: 3em;
}
main#nav-menu h2 {
  max-width: 300px;
  margin: 0 auto;
  text-decoration: underline;
}
main#nav-menu ul#nav-links {
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
}
main#nav-menu ul#nav-links li {
  list-style-type: none;
}
main#nav-menu ul#nav-links li a {
  display: block;
  font-size: 14pt;
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
